<div class="input-box aa" style="border: 1px solid #ccc;padding: 15px 12px 24px 12px;border-bottom: 0;">
	<p class="step-title" id="orderconfirmttitle" >Order Confirmation</p>
	<p style="font-size:12px;
 font-weight:bold;
 text-transform:uppercase;
 margin:0 0 15px 2px;
 color:#333;">Customer PO number *</p>
    <input type="text" name="customCheckbox" id="order-customCheckbox" value="" data-bind="value: customcheckboxdf, event: {change: CheckVals}" class="input-text required-entry" placeholder="Customer PO number *">
    
</div>    
<style type="text/css">
	#orderconfirmttitle{ border-bottom: 1px solid #ccc;margin-bottom: 20px; }
	.sp-checkout-orderattachment .payment-option-title{ padding-left: 3px } 
	.sp-checkout-orderattachment .payment-option-title{ border-top: 0 !important;}
</style> 