<table style="border-collapse:collapse;padding:0;margin:0 auto;width:600px" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    	<tr>
            <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                <table style="border-collapse:collapse;padding:0;margin:0;width:100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
	                	<tr>
	                        <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0">
	                            <a href="http://ehealthcare.tamergroup.com/testemail.php/" style="color:#3696c2;float:left;display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ehealthcare.tamergroup.com/testemail.php/&amp;source=gmail&amp;ust=1660633052900000&amp;usg=AOvVaw0Ul_-bIJcq-nPogbCpeoye">
	                                <img src="https://ci5.googleusercontent.com/proxy/7WtPoLZV9mIgX8m2r8Za-bRVFaZ2AyTl6fdk7F0cjGuZqPBEMGSjwdWazPz7iFR1ysp-6y_HQfynmVwi97IuJG1FdoXa2-t31MVZUh3_Khxd2DhIpvEUe3Of45wXTGZ7=s0-d-e1-ft#https://ehealthcare.tamergroup.com/media/email/logo/default/logo_etamerhc.png" alt="Tamer Store" style="outline:none;text-decoration:none" class="CToWUd" data-bit="iit" width="165" height="48" border="0">
	                            </a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#fff" valign="top">
                    
				<table style="border-collapse:collapse;padding:0;margin:0;width:100%" cellspacing="0" cellpadding="0" border="0">
				    <tbody>
						<tr>
							<td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
							  <div style="background:#fff;width:100%;float:left;padding-top:35px;padding-bottom:30px">

								<div>
									<div>
										<div>
											<table style="border-right:1px solid #dcdcdc;border-collapse:collapse;padding:0;margin:0" cellspacing="5" cellpadding="5" border="1">
												<thead> 
													<tr>					
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">No #</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Tamer Item Code</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Delivery Status</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Days Since Ordered</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Sales Order#</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">PO#</th>
													</tr>
												</thead> 
												<tbody style="color:#196d39">	
                                                        {{var dataitems}}
														<tr>
															<td colspan="6" style="text-align:right;padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">Total:</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var total}}</td>
														</tr>
												
													</tbody>	
													
												</table>
											</div>	
										</div>
									</div>		
								</div>
							</td>
						</tr>

					</tbody>
				</table>
	    	</td>
		</tr>
	</tbody>
</table>

<h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thank you, Tamer Group!</h5>