<!--@subject {{var subjectmi}}  @-->
{{if autopaid}}
    Dear {{var customernameshow}},
    <br/> 
    <br/>
    Order#: {{var orderidpf}} is paid.
    <br/>
    <br/>
    you can see the order detail here:
    <a href="https://ehealthcare.tamergroup.com/dsfhcustomer/index/cart/payfort/1/id/{{var orderrealidpf}}" style="width: 100%;display: block;text-align: center;" target="_blank">
        <img style="height: 80px;text-align: center;margin: auto;" src="https://ehealthcare.tamergroup.com/pub/orderdt.jpg">
    </a>
    <br/>
    <br/>
    <br/>
    
    <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thanks and Best Regards, Tamer Healthcare!</h5>
{{/if}}
{{if autopay}}
    Dear {{var customernameshow}},<br/>
    <br/>
    This is to keep you informed that your order# {{var orderidpf}} has been processed and ready to be dispatched. Please process the payment in order to deliver the order.<br/>
    <br/>
    <br/>
    <br/>
    
    <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thanks and Best Regards, Tamer Healthcare!</h5>
{{/if}}
{{if remindpay}}
    Dear {{var customernameshow}},<br/>
    <br/>
    This is a kind reminder to process the payment of order#: {{var orderidpf}} to avoid any cancellation.<br/>
    <br/>
    <br/>
    <br/>
    
    <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thanks and Best Regards, Tamer Healthcare!</h5>
{{/if}}
{{if warehouse}}
    Dear Operation team,<br/>
    <br/>
    This is to inform you that the invoices related to {{var customernameshow}} cash order#: {{var orderidpf}} is due 3 for processing the payment to take the necessary action.<br/>
    <br/>
    <br/>
    <br/>
    
    <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thanks and Best Regards, Tamer Healthcare!</h5>
{{/if}}
{{if finance}} 
    Dear team,<br/>
    <br/>
    This is to inform you that the invoices related to {{var customernameshow}} cash order#: {{var orderidpf}} is paid and ready to dispatch.<br/>
    <br/>
    <br/>
    <br/>
    
    <h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thanks and Best Regards, Tamer Group!</h5>
{{/if}}
{{if customername}}
<table style="border-collapse:collapse;padding:0;margin:0 auto;width:600px" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
    	<tr>
            <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
                <table style="border-collapse:collapse;padding:0;margin:0;width:100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
	                	<tr>
	                        <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0">
	                            <a href="http://ehealthcare.tamergroup.com/testemail.php/" style="color:#3696c2;float:left;display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://ehealthcare.tamergroup.com/testemail.php/&amp;source=gmail&amp;ust=1660633052900000&amp;usg=AOvVaw0Ul_-bIJcq-nPogbCpeoye">
	                                <img src="https://ci5.googleusercontent.com/proxy/7WtPoLZV9mIgX8m2r8Za-bRVFaZ2AyTl6fdk7F0cjGuZqPBEMGSjwdWazPz7iFR1ysp-6y_HQfynmVwi97IuJG1FdoXa2-t31MVZUh3_Khxd2DhIpvEUe3Of45wXTGZ7=s0-d-e1-ft#https://ehealthcare.tamergroup.com/media/email/logo/default/logo_etamerhc.png" alt="Tamer Store" style="outline:none;text-decoration:none" class="CToWUd" data-bit="iit" width="165" height="48" border="0">
	                            </a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#fff" valign="top">
                    
				<table style="border-collapse:collapse;padding:0;margin:0;width:100%" cellspacing="0" cellpadding="0" border="0">
				    <tbody>
				    	<tr>
					        <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
					            <table style="border-collapse:collapse;padding:0;margin:0;width: 100%;" cellspacing="0" cellpadding="0" border="0">
					                <tbody><tr>
					                    <td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0 1%;margin:0;background:#e1f0f8;border-right:1px dashed #c3ced4;text-align:center;width:58%">
					                        <h1 style="font-family:Verdana,Arial;font-weight:700;font-size:16px;margin:1em 0;line-height:20px;text-transform:uppercase;margin-top:25px">THANK YOU FOR USING OUR WEBSITE</h1>
					                        <p style="font-family:Verdana,Arial;font-weight:normal;line-height:20px;margin:1em 0">Your <span class="il">Suggested</span> Order Has Been Created</p>
					                    </td>
					                    
					                </tr>
					            </tbody></table>
					        </td>
					    </tr>
						<tr>
							<td style="font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0">
							  <div style="background:#fff;width:100%;float:left;padding-top:35px;padding-bottom:30px">
								<div style="text-align:center;font-size:20px;margin-bottom:10px">{{var customername}}</div>
									    <div>

									<div style="text-align:center;font-size:20px;margin-bottom:10px">Request #{{var reuqestvalue}}</div>
										<div style="text-align:center;font-size:20px;margin-bottom:20px">Date: {{var newDate}}</div>
								</div>
								<div>
									<div>
										<div>
											<table style="border-right:1px solid #dcdcdc;border-collapse:collapse;padding:0;margin:0" cellspacing="5" cellpadding="5" border="1">
												<thead> 
													<tr>					
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Tamer Item #</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Customer Item #</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Item Description</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">UOM</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Quantity</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Price</th>
														<th style="background:#f6f6f6;color:#777;padding:10px 5px;border:1px solid #f6f6f6;font-weight:600;font-size:12px;text-align:center;font-family:Verdana,Arial">Amount</th>
													</tr>
												</thead> 
												<tbody style="color:#196d39">	
												{{for item in dataitems.items}}
                                                     
														<tr>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.sku}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.customeritem}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">J{{var item.description}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.uom}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.qty}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.price}}</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var item.amount}}</td>
														</tr>
												{{/for}}							
														<tr>
															<td colspan="6" style="text-align:right;padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">Total:</td>
															<td style="padding:10px 15px;border:1px solid #dcdcdc;border-top-color:rgb(220,220,220);border-top-style:solid;border-top-width:1px;border-right-color:rgb(220,220,220);border-right-style:solid;border-right-width:1px;border-top:0;border-right:0;font-family:Verdana,Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;margin:0">{{var total}}</td>
														</tr>
												
													</tbody>	
													
												</table>
											</div>	
										</div>
									</div>		
								</div>
							</td>
						</tr>

					</tbody>
				</table>
	    	</td>
		</tr>
	</tbody>
</table>

<h5 style="font-family:Verdana,Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px">Thank you, Tamer Healthcare!</h5> 
{{/if}}


