<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!--    <preference for="Magento\Catalog\Model\Config\Source\ListSort" type="MODZ\ProductSortOption\Plugin\Model\Config\Source\ListSource"/>-->
<!--    <preference for="Magento\Catalog\Model\Category\Attribute\Source\Sortby" type="MODZ\ProductSortOption\Plugin\Model\Category\Attribute\Source\Sortby"/>-->

    <type name="Magento\Catalog\Model\Config">
        <plugin name="MODZ_ProductSortOption" type="MODZ\ProductSortOption\Plugin\Model\Config"/>
    </type>
<!--    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">-->
<!--        <plugin name="MODZ_ProductSortOption_Plugin_Product_ProductList_Toolbar" type="MODZ\ProductSortOption\Plugin\Product\ProductList\Toolbar"/>-->
<!--    </type>-->

<!--    <type name="\Magento\Elasticsearch7\Model\Client\Elasticsearch">-->
<!--        &lt;!&ndash; Sets `created_at` type keyword to enable sorting &ndash;&gt;-->
<!--        <plugin name="MODZ_ProductSortOption" type="MODZ\ProductSortOption\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>-->
<!--    </type>-->
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapper">
        <!-- Sets `created_at` type keyword to enable sorting -->
        <plugin name="MODZ_ProductSortOption" type="MODZ\ProductSortOption\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper"/>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapperProxy">
        <!-- Sets `created_at` type keyword to enable sorting -->
        <plugin name="MODZ_ProductSortOption" type="MODZ\ProductSortOption\Plugin\Elasticsearch\Model\Adapter\AdditionalFieldMapper" sortOrder="4"/>
    </type>
</config>
