<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<virtualType name="Os\DsfhCustomer\Model\ResourceModel\Approved\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">dsfh_customer_approved</argument>
			<argument name="resourceModel" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Approved\Collection</argument>
		</arguments>
	</virtualType>

	<virtualType name="Os\DsfhCustomer\Model\ResourceModel\Daily\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">dsfh_customer</argument>
			<argument name="resourceModel" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Daily\Collection</argument>
		</arguments>
	</virtualType>

	<virtualType name="Os\DsfhCustomer\Model\ResourceModel\Receipt\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">dsfh_customer_receipt</argument>
			<argument name="resourceModel" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Receipt\Collection</argument>
		</arguments>
	</virtualType>

	<virtualType name="Os\DsfhCustomer\Model\ResourceModel\Suggested\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">dsfh_customer_suggested</argument>
			<argument name="resourceModel" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Suggested\Collection</argument>
		</arguments>
	</virtualType>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="dsfhcustomer_approveds_grid_data_source" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Approved\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="dsfhcustomer_dailys_grid_data_source" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Daily\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="dsfhcustomer_receipts_grid_data_source" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Receipt\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="dsfhcustomer_suggesteds_grid_data_source" xsi:type="string">Os\DsfhCustomer\Model\ResourceModel\Suggested\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="einvoicemanagement_invoices_grid_data_source" xsi:type="string">Os\EinvoiceManagement\Model\ResourceModel\Invoice\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<preference for="Os\DsfhCustomer\Api\UpdateappversionManagementInterface" type="Os\DsfhCustomer\Model\Api\UpdateappversionManagement"/>
    
    <preference for="Os\DsfhCustomer\Api\ApprovedManagementInterface" type="Os\DsfhCustomer\Model\Api\ApprovedManagement"/>

	<preference for="Os\DsfhCustomer\Api\DailyManagementInterface" type="Os\DsfhCustomer\Model\Api\DailyManagement"/>

	<preference for="Os\DsfhCustomer\Api\ReceiptManagementInterface" type="Os\DsfhCustomer\Model\Api\ReceiptManagement"/>

	<preference for="Os\DsfhCustomer\Api\SuggestedManagementInterface" type="Os\DsfhCustomer\Model\Api\SuggestedManagement"/>
</config>

